<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
	<script scr="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/javascript/jquery.min.js"></script>
	<script type="text/javascript" src="/javascript/javascript.js"></script>
	{{!-- <script scr="https://code.jquery.com/jquery-3.2.1.min.js"></script> --}}
	<title>Index</title>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand">Técnicas de Simulación (Jaime Paz)</a>
			</div>
		</div>
	</nav>
	<div class="co"></div><br><br>
	{{{ body }}}
	<footer class="page-footer font-small blue fixed-bottom">

		<!-- Copyright -->
		<div class="footer-copyright text-center py-3">© 2018 Copyright Técnicas de Simulación:
			<a href="https://carreras.uleam.edu.ec/facci/comision-de-carrera/ingenieria-en-sistemas/malla-curricular/"> Jaime Paz Facultad de Ciencias Informáticas</a>
		</div>
		<!-- Copyright -->

	</footer>
</body>
</html>