
		<script>
			$(document).ready(function(){
	            var prueba
	            $("#btnconsultar").click(function(){
	                var varid=$("#txtcedula").val();
	               $.ajax({
	                   type:"GET",
	                   //url:"https://proyectointegrador.herokuapp.com/book",
	                   url:"http://localhost:3000/api/pelicula",
	                   dataType:"json",
	                   contentType:"text/plain"
	               }).done(function(msg){
	                   var htmlpuro='<table border=1 class="tablaRegistros"><tr class="comlumaRegistros"><td>Id</td><td>Nombre del marco</td><td>Descripcion</td><td>Tipo de marco (0 pago - 1 gratis)</td><td>Precio</td>  </tr>'
	                   for (var dato in msg)
	                   {
	                        htmlpuro+='<tr  class="comlumaRegistros2">'
	                           htmlpuro+='<td>'+ msg[dato]._id+'</td>'
	                           htmlpuro+='<td>'+ msg[dato].name+'</td>'
	                           htmlpuro+='<td>'+ msg[dato].picture+'</td>'
	                           htmlpuro+='<td>'+ msg[dato].censura+'</td>'
	                           htmlpuro+='<td>'+ msg[dato].descripcion+'</td>'
	                           htmlpuro+='<td>'+ msg[dato].fechaEstreno+'</td>'
	                           htmlpuro+='<td>'+ msg[dato].fechaFinal+'</td>'
	                           htmlpuro+='<td>'+ msg[dato].duracion+'</td>'
	                           htmlpuro+='<td>'+ msg[dato].tiempoCartelera+'</td>'
	                        htmlpuro+='</tr>'
	                   }
	                   htmlpuro+='</table>'
	                    $("#contenido").html(htmlpuro)
	               });
	            });
            });
		</script>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 col-md-2 sidebar">
					<div class="panel panel-default">
						<div class="panel-heading">Elija el tipo de simulación</div>
						<div class="panel-body">
							<div class="list-group">
								<a href="#" class="list-group-item">Montecarlo</a>
								<a href="#" class="list-group-item">Línea de Espera</a>
								<a href="#" class="list-group-item">Poisson</a>
							</div>
						</div>
					</div>
					<input type="button" id="btnconsultar" value="presioname">
				</div>
				<div class="col-sm-9  col-md-10 main">
					<div class="row placeholders">
						<div class="col-xs-6 col-sm-3 placeholder">
						<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
						<h4>Label</h4>
						<span class="text-muted">Something else</span>
						</div>
						<div class="col-xs-6 col-sm-3 placeholder">
						<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
						<h4>Label</h4>
						<span class="text-muted">Something else</span>
						</div>
						<div class="col-xs-6 col-sm-3 placeholder">
						<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
						<h4>Label</h4>
						<span class="text-muted">Something else</span>
						</div>
						<div class="col-xs-6 col-sm-3 placeholder">
						<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
						<h4>Label</h4>
						<span class="text-muted">Something else</span>
						</div>
					</div>
					<hr>
					<h2>Análisis estadisticos</h2>
					<div class="col-sm-3 col-md-4 sidebar">
						<div class="panel panel-default">
						<div class="panel-heading">Análisis de demanda de probabilidad</div>
						<div class="panel-body">
							<form>
								<div class="form-group">
									<label>Demanda</label> 
									<input class="form-control" type="text" id="demanda_txt">
								</div>
								<div class="form-group">
									<label>Eventos</label>
									<input class="form-control" type="text" id="eventos_txt">
								</div>
								<div class="form-group">
									<label>Probabilidad</label>
									<input class="form-control" type="text" id="probabilidad_txt">
								</div>
														
								<input id="btn-generar_tabla" class="btn btn-default" type="button" value="Añadir">

							</form>
							</div>
						</div>
					
					
					</div>
					<div id="table-responsive" class="table-responsive">
					</div><br>
					<div id="tabla-probabilidades" class="col-sm-3 col-md-4 sidebar table-responsive">
					</div>
				</div>
						
			</div>
		</div>
<!-- 
	<br>
	<br>
	<br>
	<div class="embed-responsive embed-responsive-16by9">
		<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ERpNI7lkvA4" width="1020" height="640" frameborder="0" allowfullscreen></iframe>
	</div>
	<br>
	<div class="embed-responsive embed-responsive-16by9">
		<iframe class="embed-responsive-item"	src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.2637994747347!2d-80.72171808525377!3d-0.9552675993031443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902be6b37c59137b%3A0x18eb4843f93ef8b3!2sCalle+9+de+Octubre%2C+Manta!5e0!3m2!1ses!2sec!4v1502765916089" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> -->
	<!-- </div> -->
