<div class="container-fluid">
			<div class="row">
				<div class="col-sm-9  col-md-11 main">
					<h2>Modelo de Línea de Espera </h2>
					<div class="col-sm-3 col-md-4 sidebar">
						<div class="panel panel-default">
						<div class="panel-heading">Análisis de demanda de probabilidad</div>
						<div class="panel-body">
							<form>
								<div class="form-group">
									<label>Demanda</label> 
									<input class="form-control" type="text" id="demanda_txt"value="10">
								</div>
								
                                <div class="form-group">
									<label>Generar números aleatorios</label>
                                    <br>
									<div class="form-group">
                                    <label>A:</label>
									<input class="form-control" type="text" id="A_txt" value="31">
									</div>
									<div class="form-group">
                                    <label>C:</label>
                                    <input class="form-control" type="text" id="C_txt" value="31">
									</div>
									<div class="form-group">
                                    <label>Xn:</label>
                                    <input class="form-control" type="text" id="X_txt" value="77">
									</div>
									<div class="form-group">
                                    <label>M:</label>
                                    <input class="form-control" type="text" id="M_txt" value="131">
									</div>
									<div class="form-group">
                                    <label>Miu:</label>
                                    <input class="form-control" type="text" id="Miu_txt" value="20">
									</div>
									<div class="form-group">
                                    <label>Landa:</label>
                                    <input class="form-control" type="text" id="Landa_txt" value="15">
									</div>
									
								</div>
														
								<input id="btn-generar_tabla2"  class="btn btn-default" type="button" value="Añadir">

							</form>
							</div>
						</div>
					
					
					</div>
					<div id="tabla-probabilidades" style="overflow:scroll; height: 250px;" class="table-responsive">
					</div><br>
					<div id="table-responsive" style="overflow:scroll; height: 250px;"class="table-responsive">
					</div>
					
				</div>
						
			</div>
		</div>