<div class="container-fluid">
			<div class="row">
				<div class="col-sm-9  col-md-12 main">
					<h2>Modelo de Montecarlo </h2>
					<div class="col-sm-3 col-md-4 sidebar">
						<div class="panel panel-default">
						<div class="panel-heading">Análisis de demanda de probabilidad</div>
						<div class="panel-body">
							<form>
								<div class="form-group">
									<label>Demanda</label> 
									<input class="form-control" type="text" id="demanda_txt"value="10">
								</div>
								
                                <div class="form-group">
									<label>Generar números aleatorios</label>
                                    <br>
									<div class="form-group">
                                    <label>A:</label>
									<input class="form-control" type="text" id="A_txt" value="31">
									</div>
									<div class="form-group">
                                    <label>C:</label>
                                    <input class="form-control" type="text" id="C_txt" value="31">
									</div>
									<div class="form-group">
                                    <label>Xn:</label>
                                    <input class="form-control" type="text" id="X_txt" value="77">
									</div>
									<div class="form-group">
                                    <label>M:</label>
                                    <input class="form-control" type="text" id="M_txt" value="131">
									</div>									
								</div>
														
								<input id="btn-generar_tabla5"  class="btn btn-default" type="button" value="Añadir">

							</form>
							</div>
						</div>
					</div>
                    <div class="col-sm-3 col-md-4 sidebar">
                            <div class="panel panel-default">
                            <div class="panel-heading">Análisis de demanda de probabilidad</div>
                            <div class="panel-body">
                                <form>
                                    <div class="form-group">
                                        <label>Demanda</label> 
                                        <input class="form-control" type="text" id="demanda2_txt"value="2">
                                    </div>				
                                    <input id="btn-generar_tabla6"  class="btn btn-default" type="button" value="Añadir">
                                    <input id="btn-generar_tabla7"  class="btn btn-default" type="button" value="Guardar valores">
                                    <input id="btn-generar_tabla8"  class="btn btn-default" type="button" value="Generar tabla"><br><br>
                                    <input id="btn-generar_tabla9"  class="btn btn-default" type="button" value="Guardar Aleatorios">
                                </form>
                                </div>
                            </div>
                        </div>
					<div id="table-responsives" style="overflow:scroll; height: 250px;" class="table-responsive">
					</div><br><hr>
                    <div id="tabla_probabilidades" class="table-responsive">
                    </div>
                    <div id="tabla_probabilidades3" class="table-responsive">
                    </div><div id="tabla_probabilidades3" class="table-responsive">
                    </div>
                    <div id="tabla_probabilidades2" class="table-responsive">
                    </div>
                     <div class="col-sm-3 col-md-4 sidebar"></div>
                    <div id="tabla_probabilidades4" class="table-responsive">
                    </div>
                    <div class="col-sm-9  col-md-12 main"></div>
                    
                        
                    
				</div>		
			</div>
		</div>