<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 col-md-2 sidebar">
					<div class="panel panel-default">
						<div class="panel-heading">Elija el tipo de simulación</div>
						<div class="panel-body">
							<div class="list-group">
								<a href="#" class="list-group-item">Método Congruencial</a>
								<a href="#" class="list-group-item">Línea de Espera</a>
								<a href="#" class="list-group-item">Poisson</a>
							</div>
						</div>
					</div>
					<input type="button" id="btnconsultar" value="presioname">
				</div>
				<div class="col-sm-9  col-md-10 main">
					<h2>Modelo Poisson</h2>
					<div class="col-sm-3 col-md-4 sidebar">
						<div class="panel panel-default">
						<div class="panel-heading">Análisis Aleatorios Método Congruencial</div>
						<div class="panel-body">
							<form>
								<div class="form-group">
									<div class="form-group">
                                    <label>Peticiones por Hora:</label>
									<input class="form-control" type="text" id="N_Peticiones_txt" value="81">
									</div>
									<div class="form-group">
                                    <label>Tiempo de Servicio(minutos):</label>
                                    {{!-- <input type="text" name="D" id="D" value=""   maxlength="3"/> --}}
                                    <input class="form-control" type="text" id="T_Servicio_txt" value="6">
									</div>
								</div>				
								<input id="btn-generar_tabla4" class="btn btn-default" type="button" value="Generar">
							</form>
							</div>
						</div>
					</div>
                    <div class="form-group" id="variables"></div>
					<div id="table-responsives"class="table-responsive">
					</div>
				</div>
						
			</div>
		</div>